<h1>Мои заказы</h1>

<% @orders.each do |order| %>

    <h3>Заказ №<%= order.id %></h3>
    <p>Сумма заказа: <%= order.total %> руб.</p>
    <%= link_to 'удалить', order, method: :delete, confirm: 'are you sure?' %>

    <p>
      Статус:
      <% if order.paid == true %>
        оплачен
      <% else %>
        <%= payment_service_for order.id, ROBOKASSA_LOGIN,
                                amount: order.total,
                                service: :robokassa,
                                secret: ROBOKASSA_PASS_1 do |s| %>
          <%= submit_tag 'оплатить' %>
        <% end %>
      <% end %>
    </p>


    <table class='table'>
      <% order.item_orders.each do |io| %>
      <tr>
        <td><%= io.item.name %></td>
        <td><%= io.quantity %></td>
        <td><%= io.price %> руб.</td>
      </tr>
      <% end %>
    </table>

<% end %>