<h1>Товары</h1>

<table class="table">
  <tr>
    <th>id</th>
    <th></th>
    <th>Название</th>
    <th>Описнаие</th>
    <th>Цена</th>
    <th>категория</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td><%= image_tag item.image.url(:thumb) %></td>
    <td><%= link_to item.name, item %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td>
      <% if item.category %>
            <%= item.category.name %>
      <% else %>
            нет категории
      <% end %>
    </td>
    <td>
        <% if signed_in? %>
        <%= link_to 'редактировать', edit_item_path(item) %>
        <% end %>
    </td>
    <td>
        <% if signed_in? %>
        <%= link_to 'удалить', item, method: :delete, confirm: 'are you sure?' %>
         <% end %>
    </td>
    <td>
      <% if signed_in? %>
          <%= link_to 'добавить в корзину', item_users_path(item_id: item.id), method: :post %>
      <% end %>
    </td>
  </tr>
  <% end %>

</table>


<div>
  <%= link_to 'создать товар', new_item_path %>
</div>