<p id="notice"><%= notice %></p>


<h1><%= @category.name %></h1>
<div><%= @category.description %></div>

<% @category.items.each do |i| %>
    <%= render 'items/element', item: i %>
<% end %>

<div class='back-button'><%= link_to 'Back', categories_path %></div>

