<!DOCTYPE html>
<html>
<head>
  <title>MyFirstStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <%= link_to image_tag('logo.png'), root_path, :class => 'brand' %>
    <ul class="nav">
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Team', team_path %></li>
      <li><%= link_to 'Contacts', contacts_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'Items', items_path %></li>
    </ul>
  </div>
</div>


<div class='container'>
  <div class="row">
    <div class="span9">

        <% if notice %>
            <p class='alert alert-success'><%= notice %></p>
        <% end %>

        <% if alert %>
            <p class="alert"><%= alert %></p>
        <% end %>

      <%= yield %>
    </div>
    <div class="span3 sidebar">
      <div class='sidebar-inner'>
        <% if signed_in? %>
           привет, <%= current_user.email %>
           <%= link_to 'выйти', destroy_user_session_path, method: :delete %>
        <% else %>
           необходима авторизации
           <p><%= link_to 'войти', new_user_session_path %>
           <%= link_to 'регистрация', new_user_registration_path %></p>

        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <%= link_to 'Terms', tos_path %>
  <%= link_to 'Privacy', privacy_path %>
</div>


</body>
</html>
